# Default ignored files
/shelf/
/workspace.xml
/inspectionProfiles/Project_Default.xml
/modules/BetterNaturesAura.main.iml
/modules/BetterNaturesAura.test.iml
/runConfigurations/runClient.xml
/runConfigurations/runData.xml
/runConfigurations/runGameTestServer.xml
/runConfigurations/runServer.xml
/compiler.xml
/copilot.data.migration.ask2agent.xml
/gradle.xml
/IntelliLang.xml
/jarRepositories.xml
/misc.xml
/modules.xml
/uiDesigner.xml
/vcs.xml
